[submodule "themes/hexo-theme-claudia"]
	path = themes/hexo-theme-claudia
	url = https://github.com/Haojen/hexo-theme-Claudia.git
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/theme-next/hexo-theme-next
[submodule "themes/hexo-theme-matery"]
	path = themes/hexo-theme-matery
	url = https://github.com/blinkfox/hexo-theme-matery.git
